# ==========================================
# NODE / NPM
# ==========================================
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ==========================================
# ANGULAR
# ==========================================
/dist
/.angular
/out-tsc
/bazel-out
/coverage

# ==========================================
# IDE
# ==========================================
/.idea
/.vscode/*
!/.vscode/extensions.json
*.iml

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# ENV
# ==========================================
*.env
.env.local
.env.*.local